h1, h2, h3{
	font-family: "PT Sans";
}
h1{
	color: blue;
}
h2{
	color: black;
}
body{
	margin: 0;
	padding: 0;
}
main{
	display: flex;
}


header{
	position: fixed;
	top: 0px;
  	left: 0px;
	width: 100%;
	background: #acf;
  	

  
  	z-index: 50;
  	
}
header nav:before{
	 	content:' ' ;
	 	position: absolute;
	 	top: 0;
	 	left: 0;
	 	width: 100%;
	 	height: 100%;
	 	background-color:#acf;
	 	z-index: 3;
	 	
}

header nav {
	position: relative;
  	display:flex;
  	z-index: 2;
  	height: 60px;
  	justify-content: space-between;
  	

}
 
.logo_header{

	position: relative;
	top: 10px;
	left: 10px;
	z-index: 3 ;
}
article{
	flex-basis: 70%;
	flex-shrink: 0;
	padding: 5px;
	font-size: 16px;
}

header nav li {
	list-style: none;

	padding: 7px;

}
header ul{
	display: flex;
	width: 70% ;
	
  	justify-content: flex-start;
  	flex-flow: row wrap;
  	z-index: 3;
}

header nav li a{
	color: black;
	display: inline-block;
	text-decoration: none;
	
}
aside{

	
	
	
	height: 400px;
	margin-top: 15px;
	
	color: aqua;
	border-radius: 5%;
	background: #F4A460;
	padding: 10px;
	margin-left: auto;
	margin-right: 20px;
	
	font-size: 150%;
	border-style: ridge;
	
	position: sticky;
	top: 70px;
	bottom: 10px;
	z-index: 0;
	
}
/*aside li{
	list-style-type: none;
}*/


.content{
	width:97% ;

	float: ce;
	margin-top: 70px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	padding: 7px;
	color: aqua;
	border-radius: 5%;
	background: #F4A460;


}

ol{
	list-style-type: none;
}
ol li a{
	text-decoration: none;
	color: aqua;
}
.info_about_actor h3{
	text-align: center;
	padding-bottom: 20px;
}

.info_about_actor, .actor_ru{
	background: #F4B460;
	border-radius: 5px;
	padding: 5px;
	min-height: 550px;

	width: 97%;
	
	
  	
}
video{
	margin-top: -25px;
	margin-left: 0;
}
.info_about_actor img, .actor_ru img{
	float: left;
	padding-right: 10px;
}

section{
	background-color: #F4A460;
	border-radius: 3%;
	padding: 5px;
	margin: 10px;
}

ol ul a{
	text-decoration: inherit;
	color:  inherit;
}




.content ol li a:hover{
	color: white;
}
footer address{
	height: 80px;
  	width: 100%;
	flex-flow: row nowrap;
  	flex-flow: row nowrap;
  	
  	background-color: #303030;
  	padding-left: 10px;
}
footer h2 a{
	text-decoration: none;
	color: white;
}
footer h2 a:hover{
	text-decoration: none;
	color: aqua;

}
header nav li a:hover{
	color :#ffcf;
	text-decoration: none;
}
header nav li a:visited{
	color : white;
	
}
form{
	
	background: #F4A460;
	border-radius: 3%;
	padding: 20px;
	margin-top: 20px;
	margin-left: 1ch;

}
form fieldset{
	background-color: #F4B460; 
	border-color: #FFEFD5;
	border-width: 4px;
	border-style: outset;
}
input,textarea,select{
	background-color: #FFEBCD;
	border-style: inset;
	border-width: 1px;
	border-color: lightyellow;
	color: black;
}
form input[type="text"],input[type="datetime-local"]{
	width: 195px;
}
input[type="datetime-local"]{
width: 180px;
}
form fieldset legend{
	font-size: 18px;
}
form input:focus,textarea:focus{
	background-color: white;
	/*border-radius: 0%;
	border-style: hidden;
	border-width: 3px;
	border-color: grey;*/
}
form input::placeholder,textarea::placeholder {
	color: #BC8F8F;
	font-style: italic;
	font-weight: 99;
	font-family: Georgia;
}
form fieldset div{
	padding: 3px;
}
header nav li a:active{
	color : green;
	
}
.forms{
	display: flex;
	width: 100%;

} 
.form2{
	flex-basis: 56%;
	flex-grow: 1;
	margin-right: 10px;
	flex-grow: 1;
}
.form1{
	flex-basis: 37%;
	flex-grow: 1;
	flex-grow: 1;
}
body {
  margin: 0;
  
  /* Растягиваем body по высоте html */
  min-height: 100%;
	min-width: ; 
  display: grid;
  
/*  grid-template-rows: auto 1fr auto;*/
}

.header_burger{
	display: none;
}
@media (max-width:767px){
	.info_about_actor, .actor_ru{
		font-size: 14px;
	}
 	main{
	 	display: flex;
	 	flex-direction: column;
 
 	}
 	article{
 		flex-basis: 100%;
 	}
	 aside{
	 	width: 96%;
	 	height: 200px;
	 	
	 	margin-right: auto;
	 	margin-left: 10px;
	 	position: relative;
	 	top: 10px;
	 	left: 10px;
	 	padding: 3px;
	 	font-size: 14px;
	 	z-index: 0;
	 }
	 body{
	 	width: 100%;
	 	
	 }
	 aside  li{
	 	list-style: none;
	 	height: 18px;
	 }

	 aside ul{
	 	margin-top: 3px;

	 }
	 aside h2{
	 	margin: 3px;
	 }

	 .forms{
	 	display: flex;
	 	margin-top: 10px;
	 	align-items: stretch;
	 	width: 100%;
	 	margin-left: 10px;

	 }
	 .form1{
	 	flex-basis: 43%;
	 	width: 43%;
	 	margin: 10px;
	 }
	 .form2{
	 	flex-basis: 43%;
	 	margin: 10px;
	 }
	.header_burger {
		display: block;
		position: relative;
		top: 20px;
		right: 7 px;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	.header_burger span{
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0px;
		width: 100%;
		height: 2px;
		top: 9px;
	}

	.header_burger:before, .header_burger:after{
	 	content: ' ';
	 	background-color: #fff;
	 	position: absolute;
	 	width: 100%;
	 	height: 2px;
	 	left: 0;
	 
	 	
	 }
	 .header_burger:before{
	 	top: 0;
	 }
	 .header_burger:after{
	 	bottom: 0;
	 }

	/* header{
	 	position: fixed;
	 	z-index: 11;
	 }*/
	/*header nav ul{
	 	position: fixed;
	 	left: 0;
	 	top: 0; 
	 	width: 100%;
	 	height: 100%;
	 /*	background-color: #18b5a4;*/
	 /*	z-index: 1;

	}*/
}

